[submodule "tmux-themepack"]
	path = .tmux-themepack
	url = git@github.com:jimeh/tmux-themepack.git
[submodule "auto-pairs"]
	path = .vim/bundle/auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule "ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git@github.com:kien/ctrlp.vim.git
[submodule ".vim/bundle/ale"]
	path = .vim/bundle/ale
	url = git@github.com:w0rp/ale.git
[submodule ".vim/bundle/vim-json"]
	path = .vim/bundle/vim-json
	url = git@github.com:elzr/vim-json.git
[submodule ".vim/bundle/vim-tmux-navigator"]
	path = .vim/bundle/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
[submodule ".vim/bundle/pytest.vim"]
	path = .vim/bundle/pytest.vim
	url = git@github.com:alfredodeza/pytest.vim.git
